<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="../static/images/logo.png" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.min.js"></script>
  <title>Finzy - Configurações</title>
</head>

<body class="flex flex-col bg-gray-100 text-gray-900 ">
  <nav class="flex items-center justify-between text-white p-3 bg-[#1A2B4C]">
    <div class="flex items-center gap-2 font-bold ml-5">
      <img src="../static/images/logo.png" alt="Logo" class="w-[42px]" />
      <h1 class="text-[34px]">Finzy</h1>
    </div>
    <div class="flex gap-7 mr-5">
      <a href="/home">
        <div class="flex flex-col items-center justify-center hover:scale-110 transition-all">
          <i data-lucide="home" class="w-6 h-6"></i>
          <h1 class="text-[14px] font-medium">Home</h1>
        </div>
      </a>

      <a href="/transacoes">
        <div class="flex flex-col items-center justify-center hover:scale-110 transition-all">
          <i data-lucide="repeat" class="w-6 h-6"></i>
          <h1 class="text-[14px] font-medium">Transações</h1>
        </div>
      </a>

      <a href="/metas">
        <div class="flex flex-col items-center justify-center hover:scale-110 transition-all">
          <i data-lucide="target" class="w-6 h-6"></i>
          <h1 class="text-[14px] font-medium">Metas</h1>
        </div>
      </a>

      <a href="/configuracoes">
        <div class="flex flex-col items-center justify-center hover:scale-110 transition-all">
          <i data-lucide="settings" class="w-6 h-6"></i>
          <h1 class="text-[14px] font-medium">Configurações</h1>
        </div>
      </a>

      <a href="/">
        <div class="flex flex-col items-center justify-center hover:scale-110 transition-all">
          <i data-lucide="log-out" class="w-6 h-6"></i>
          <h1 class="text-[14px] font-medium">Sair</h1>
        </div>
      </a>

    </div>
  </nav>

<main class="bg-[#FDFDFE] h-screen flex flex-col items-end">

  <div class="flex flex-col items-center justify-center w-full h-[80vh]">
    <div class="flex flex-col items-center justify-center">
      <h1 class="text-[#1A2B4C] text-[30px] font-medium mt-4">
        Configurações
      </h1>
      
      <form id="configUser" class="w-[800px]  bg-white shadow rounded-lg p-5 mt-10">
        <div class="flex flex-col mt-5 w-full bg-white shadow rounded p-3">
          <label for="nameUser" class="text-[#1A2B4C] font-medium text-[18px]">Nome</label>
          <input id="nameUser" name="nameUser" type="text" placeholder="Digite seu nome" class="bg-[#F4F6F9] p-2 rounded" required/>
        </div>
        
        <div class="flex flex-col mt-5 w-full bg-white shadow rounded p-3">
          <label for="email" class="text-[#1A2B4C] font-medium text-[18px]">Email</label>
          <input id="email" name="email" type="email" placeholder="Digite seu email" class="bg-[#F4F6F9] p-2 rounded" required/>
        </div>
        
        <div class="flex flex-col mt-5 w-full bg-white shadow rounded p-3">
          <label for="telefone" class="text-[#1A2B4C] font-medium text-[18px]">Telefone</label>
          <input id="telefone" name="telefone" type="tel" placeholder="Digite seu telefone" class="bg-[#F4F6F9] p-2 rounded" required/>
        </div>
        
        <div class="flex flex-col mt-5 w-full bg-white shadow rounded p-3">
          <label for="password" class="text-[#1A2B4C] font-medium text-[18px]">Digite sua senha</label>
          <input id="password" name="password" type="password" placeholder="Digite sua senha" class="bg-[#F4F6F9] p-2 rounded" required/>
        </div>
        
        <button type="submit" class="bg-[#1A2B4C] text-white font-medium p-2 rounded w-[100px] mt-4">Salvar</button>
      </form>
    </div>
  </div>

</main>
  <script src="../static/scripts/configuracoes.js" defer></script>
  <script>lucide.createIcons();</script>
</body>
</html>